<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">
      Ir a login
    </a>
  </li>
  
  <li>
    <a routerLink="/auth/registro">
      Ir a registro
    </a>
  </li>

  <li>
    <a routerLink="/heroes/listado">
      Ir a Listado de heroes
    </a>
  </li>
  
  <li>
    <a routerLink="/heroes/agregar">
      Ir a Agregar heroe
    </a>
  </li>

  <li>
    <a routerLink="/heroes/editar/:id">
      Ir a Editar heroe
    </a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">
      Ir a Agregar heroe
    </a>
  </li>
  <li>
    <a routerLink="/heroes/:id">
      Ir a Ver heroe
    </a>
  </li>
</ul>
